@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: black;
    /* background: linear-gradient(black 35%, #92fbdb1e); */
    /* background: linear-gradient(135deg, black 49%, rgba(146, 251, 219, 0.05) 48%, rgba(146, 251, 219, 0.15) 50%, rgba(146, 251, 219, 0.05) 52%, black 53%); */
    /* background-size: 200% 200%; */
    /* animation: stripe-animation 15s linear infinite; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  @keyframes stripe-animation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  .container {
    width: 100%; 
    margin: 0 auto;
    max-width: 1200px; 
  }
  
  #app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  